// Place all the styles related to the traveller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

[draggable=true] { 
    -moz-user-select:none; 
    -webkit-user-select: none; 
    -webkit-user-drag: element; 
}

[draggable=true] { 
    cursor : move; 
}

#sandbox {
  top: 50px;
  left: 10px;
  width: 15%;
  height: 900px;
  border: dashed;
  position: relative;
  float: left;
  padding: 10px;
  margin: 20px;
}

#other-sandbox {
  top: 50px;
  left: 10px;
  width: 15%;
  height: 900px;
  border: dashed;
  position: relative;
  float: left;
  padding: 10px;
  margin: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 { 
    position: relative; 
    bottom: 20px; 
    color: #fff; 
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.75); 
    display: none; 
} 

#wrapper {
  top: 50px;
  left: 10px;
  height: 900px;
  width: 15%;
  position: relative;
  float: left;
  border: solid;
  padding: 10px;
  margin: 20px;
}

#wrapper2 {
  top: 50px;
  left: 10px;
  height: 900px;
  width: 15%;
  position: relative;
  float: left;
  border: solid;
  padding: 10px;
  margin: 20px;
}

.pic, .chirp {
  draggable: 'true';
  border: solid 1px;
  background-size: cover;
  /*background-origin: content-box;
  background-clip: content-box;*/
  width: 150px;
  height: 150px;
  float: left;
  padding: 10px;
  margin: 10px;
  background-repeat: no-repeat;
  /*
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  */
}

img {
  
}

