<div id="wrapper">
<p>These images are draggable but the event data is not being captured on dragstart event. Hence, they are not droppable.</p>
<p>This is the #wrapper div!</p>
</div>

<div id="sandbox">
<p>You can drop photos here!</p>
<p>This is the #sandbox div!</p>
</div>

<div id="other-sandbox">
<p>Drop an image here to set the BG image on this div!</p>
<p>This is the #other-sandbox div!</p>
</div>
