<div id="wrapper">
<p>Hello traveller!</p>
</div>

<div id="sandbox">
Welcome to the sandbox!
<h2>Let's move some photos around!</h2>
</div>

<div id="other-sandbox">
Welcome to the other (scary) sandbox!
<h2>Let's set BG image on this div!</h2>
</div>
